@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff14;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #2c27ad;
  }